
{% if (aSurveyInfo.printPdf != 1) %} 
    <div class="fr-grid-row">
        <div class="fr-col-sm-12">
            <h2>{{ gT("Survey name (ID):") }} {{aSurveyInfo.surveyls_title}} ({{aSurveyInfo.sid}})</h2>
        </div>
    </div>
{% endif %} 

{% for groupid,group in aSurveyInfo.groupArray %}
    {% if (aSurveyInfo.printPdf == 1) %} 
    <br pagebreak="true" /> 
    {% endif %}
    <groupsection class="groupSection"> 
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <h3>{{group.group_name}} ({{group.gid}})</h3>
            </div>
        </div>
        <div class="fr-grid-row">
            <div class="fr-container--fluid fr-col-11 fr-col-md-10 fr-col-offset-1 fr-col-offset-2--lg">
                {% for questionId,question in group.answerArray %}
                {% set questionTemplate = './subviews/printanswers/question_types/template_' ~ question.questionclass ~ '.twig' %}
                {{ include(questionTemplate) }}
                {% endfor %} 
            </div>
        </div>
    </groupsection> 
{% endfor %}








