{#
/**
 * List with comment, list style - DSFR Theme
 * Radio list with comment textarea, DSFR-compliant
 *
 * Variables available:
 * @var $sRows         : the list of radio, generated with the view answer_row.php
 * @var $id
 * @var $hint_comment
 * @var $kpclass
 * @var $name
 * @var $tarows
 * @var $has_comment_saved
 * @var $comment_saved
 * @var $java_name
 * @var $java_id
 * @var $java_value
 * @var $basename
 * @var $coreClass
 */
#}
<!-- List with comment, DSFR style -->

<!-- answer -->
<div class="{{ coreClass }} fr-grid-row fr-grid-row--gutters" role="group" aria-labelledby="ls-question-text-{{ basename }}">
    <div class="answers-list radio-list fr-col-12 fr-col-md-6">
        <ul class="list-unstyled" role="radiogroup">
                {# rows/answer_row.twig #}
                {{ sRows }}
        </ul>
        {# Value for expression manager javascript (use id) ; no need to submit #}
        {{ C.Html.hiddenField(java_name,java_value,({
            'id' : java_id,
            'disabled' : true,
            }))
        }}
    </div>

    <div class="fr-mb-3w answer-item text-item fr-col-12 fr-col-md-6">
        <label class="fr-label" for="{{ id }}">
            {{ processString(hint_comment) }}:
        </label>
        {{ C.Html.textArea(name,comment_saved,({
            'id' : id,
            'class' : "fr-input"~kpclass,
            'rows' : tarows
        }))
        }}
    </div>
</div>


<!-- end of answer -->
