{#
/**
 * Array Flexible (no dropdown) - DSFR Theme
 * Flexible array with radio buttons in cells
 */
#}

<!-- DSFR Array Flexible Table -->
<div class="ls-table-wrapper" role="group" aria-labelledby="ls-question-text-{{ basename }}">
    <div class="fr-table fr-table--bordered" data-fr-js-table="true">
        <table class="{{ coreClass }}" data-fr-js-table-element="true">
        <caption class="fr-sr-only">{{ gT('Response matrix') }}</caption>
        <colgroup class="col-responses">
            <col class="col-answers" style='width: {{ answerwidth }}%;' />
            {{ sColumns }}
        </colgroup>

        <thead>
            <tr class="ls-heading">
                {{ sHeaders }}
            </tr>
        </thead>

        <tbody>
            {% for aRow in aRows %}
                {% if aRow.template is defined %}
                    {{ doRender('/survey/questions/answer/arrays/array/no_dropdown/rows/answer_row', aRow.content, true) }}
                {% else %}
                    {{ aRow }}
                {% endif %}
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
