{#
/**
 * Yes/No - DSFR Rich Radios with Icons
 */
#}

<!-- Yes/No DSFR Rich -->
<fieldset class="fr-fieldset" aria-labelledby="ls-question-text-{{ basename }}">
    <div class="fr-fieldset__element fr-fieldset__element--inline radio-item answer-item">
        <div class="fr-radio-group fr-radio-rich">
            <input type="radio" name="{{ name }}" id="answer{{ name }}Y" value="Y" {{ yChecked }}>
            <label class="fr-label" for="answer{{ name }}Y">{{ gT('Yes') }}</label>
            <div class="fr-radio-rich__img">
                <i class="ri-checkbox-circle-line" style="font-size: 2rem; color: #666;" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <div class="fr-fieldset__element fr-fieldset__element--inline radio-item answer-item">
        <div class="fr-radio-group fr-radio-rich">
            <input type="radio" name="{{ name }}" id="answer{{ name }}N" value="N" {{ nChecked }}>
            <label class="fr-label" for="answer{{ name }}N">{{ gT('No') }}</label>
            <div class="fr-radio-rich__img">
                <i class="ri-close-circle-line" style="font-size: 2rem; color: #666;" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    {% if noAnswer %}
    <div class="fr-fieldset__element fr-fieldset__element--inline radio-item answer-item">
        <div class="fr-radio-group fr-radio-rich">
            <input type="radio" name="{{ name }}" id="answer{{ name }}" value="" {{ naChecked }}>
            <label class="fr-label" for="answer{{ name }}">{{ gT('No answer') }}</label>
            <div class="fr-radio-rich__img">
                <i class="ri-checkbox-blank-circle-line" style="font-size: 2rem; color: #666;" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    {% endif %}
</fieldset>

{{ C.Html.hiddenField('java' ~ name, value, ({'id' : 'java' ~ name,'disabled' : true})) }}
