{#
/**
 * List with Comment Question - DSFR Theme
 * Type: O (List Radio with Comment)
 *
 * This template renders a radio list with a comment textarea
 *
 * @var $name           Question name
 * @var $value          Current selected value
 * @var $answerwidth    Answer column width
 * @var $aAnswers       Array of answer options
 * @var $sRows          Number of rows for comment
 * @var $commentValue   Current comment value
 * @var $basename       Base name for aria labels
 */
#}

<!-- List with Comment (Type O) - DSFR -->
<div class="fr-fieldset">
    <div class="fr-fieldset__content">
        <!-- Radio list -->
        <div class="fr-radio-group">
            <ul class="ls-answers answers-list radio-list" role="radiogroup" aria-labelledby="ls-question-text-{{ basename }}">
                {% for answer in aAnswers %}
                    <li class="answer-item radio-item fr-mb-2w">
                        <div class="fr-radio-group">
                            <input
                                type="radio"
                                name="{{ name }}"
                                id="answer{{ name }}{{ answer.code }}"
                                value="{{ answer.code }}"
                                {% if value == answer.code %}checked="checked"{% endif %}
                                class="fr-radio-input"
                            />
                            <label for="answer{{ name }}{{ answer.code }}" class="fr-label">
                                {{ answer.answer }}
                            </label>
                        </div>
                    </li>
                {% endfor %}

                {% if noAnswer %}
                    <li class="answer-item radio-item noanswer-item fr-mb-2w">
                        <div class="fr-radio-group">
                            <input
                                type="radio"
                                name="{{ name }}"
                                id="answer{{ name }}"
                                value=""
                                {% if value == '' %}checked="checked"{% endif %}
                                class="fr-radio-input"
                            />
                            <label for="answer{{ name }}" class="fr-label">
                                {{ gT('No answer') }}
                            </label>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>

        <!-- Comment textarea -->
        <div class="fr-input-group fr-mt-4w">
            <label class="fr-label" for="answer{{ name }}comment">
                {{ gT('Make a comment on your choice here:') }}
            </label>
            <textarea
                class="fr-input"
                name="{{ name }}comment"
                id="answer{{ name }}comment"
                rows="{% if sRows %}{{ sRows }}{% else %}5{% endif %}"
                aria-labelledby="ls-question-text-{{ basename }}"
            >{{ commentValue }}</textarea>
        </div>
    </div>
</div>

{# Hidden fields for ExpressionScript Engine #}
{{ C.Html.hiddenField("java"~name, value, ({
    'id': "java"~name,
    'disabled': true
})) }}

<!-- end of List with Comment -->
