{#
/**
 * Array Multi-Flexi Question - DSFR Theme
 * Type: : (Array Multi-flexi / Array Numbers)
 *
 * This template renders a 2D matrix with text/number inputs or dropdowns
 *
 * @var $sAnswerRows    Pre-rendered rows HTML
 * @var $coreClass      Core CSS classes
 * @var $extraclass     Extra CSS classes
 * @var $answerwidth    Answer column width percentage
 * @var $labelans       Array of column labels
 * @var $labelcode      Array of column codes
 * @var $cellwidth      Cell width percentage
 * @var $right_exists   Whether right column exists
 * @var $basename       Base name for aria labels
 */
#}

<!-- Array Multi-Flexi (Type :) - DSFR -->
<div role="group" aria-labelledby="ls-question-text-{{ basename }}">
    <div class="fr-table fr-table--bordered" data-fr-js-table="true">
        <table class="{{ coreClass }} {{ extraclass }}" style="table-layout: fixed;">
            <caption class="fr-sr-only">{{ gT('Multi-flexi response matrix') }}</caption>
            <colgroup class="col-responses">
                <!-- Column for answer label -->
                <col class="answertext" style="width: {{ answerwidth }}%;" />

                <!-- Columns for answer inputs -->
                {% for i, ld in labelans %}
                    <col class="answer-column" style="width: {{ cellwidth }}%;" />
                {% endfor %}

                <!-- Column for right text if exists -->
                {% if right_exists %}
                    <col class="answertextright" style="width: {{ answerwidth }}%;" />
                {% endif %}
            </colgroup>

            <thead>
                <tr class="ls-heading ls-header">
                    <th scope="col"></th>

                    {% for i, label in labelans %}
                        <th scope="col" id="answertext{{ basename }}_{{ labelcode[i] }}" class="answertext fr-text--bold">
                            {{ processString(label) }}
                        </th>
                    {% endfor %}

                    {% if right_exists %}
                        <th scope="col"></th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {# Rows are pre-rendered by PHP and passed as sAnswerRows #}
                {{ sAnswerRows|raw }}
            </tbody>
        </table>
    </div>
</div>
<!-- end of Array Multi-Flexi -->
