{#
    LimeSurvey
    Copyright (C) 2007-2017 The LimeSurvey Project Team / Louis Gac
    All rights reserved.
    License: GNU/GPL License v2 or later, see LICENSE.php
    LimeSurvey is free software. This version may have been modified pursuant
    to the GNU General Public License, and as distributed it includes or
    is derivative of works licensed under the GNU General Public License or
    other free or open source software licenses.
    See COPYRIGHT.php for copyright notices and details.



    (¯`·._.·(¯`·._.· Warnings  ·._.·´¯)·._.·´¯)

    Show various warnings on top of the form

    Error Html warnings can be:
        - One or more mandatory questions have not been answered. You cannot proceed until these have been completed.
        - One or more questions have not been answered in a valid manner. You cannot proceed until these answers are valid.
        - One or more uploaded files are not in proper format/size. You cannot proceed until these files are valid.

    The easiest way to change the text in the warnings is to create a new translation.

    These warnings are complementary to the popup ones. If you're using popups (set in config file), and then don't want to show these alerts, you can uncomment the hiddenClass checker
#}

{# Traductions personnalisées pour les warnings (non disponibles dans LimeSurvey) #}
{% set warningsLang = {
    'fr': {
        'previewMode': 'Mode prévisualisation',
        'previewText': 'Cette enquête n\'est actuellement pas active. Vous ne pourrez pas sauvegarder vos réponses.'
    },
    'en': {
        'previewMode': 'Preview mode',
        'previewText': 'This survey is currently not active. You will not be able to save your responses.'
    },
    'es': {
        'previewMode': 'Modo de vista previa',
        'previewText': 'Esta encuesta no está activa actualmente. No podrá guardar sus respuestas.'
    },
    'de': {
        'previewMode': 'Vorschaumodus',
        'previewText': 'Diese Umfrage ist derzeit nicht aktiv. Sie können Ihre Antworten nicht speichern.'
    }
} %}

{# Détecter la langue active (fallback: anglais pour cohérence LimeSurvey) #}
{% set currentLang = aSurveyInfo.alanguageChanger.datas.sSelected|default('en') %}
{% set lang = warningsLang[currentLang]|default(warningsLang.en) %}

{# Preview mode warning - DSFR Alert #}
{% if (aSurveyInfo.active != 'Y') and (not aSurveyInfo.popupPreview) %}
    <!-- Preview mode warning -->
    <div class="fr-container fr-my-2w">
        <div class="fr-alert fr-alert--warning {{ aSurveyInfo.class.activealert }}" role="alert" {{ aSurveyInfo.attr.activealert }}>
            <h3 class="fr-alert__title">{{ lang.previewMode }}</h3>
            <p>{{ lang.previewText }}</p>
        </div>
    </div>
{% endif %}

{# Error Html warnings - DSFR Alert Error #}
{% if aSurveyInfo.errorHtml.show %}
    <div class="fr-container fr-my-2w">
        <div class="fr-alert fr-alert--error {{ aSurveyInfo.class.errorHtml }}" role="alert" {{ aSurveyInfo.attr.errorHtml }}>
            <h3 class="fr-alert__title">{{ gT("Error") }}</h3>
            {% for aMessage in aSurveyInfo.errorHtml.messages %}
                <p>{{ aMessage }}</p>
            {% endfor %}
        </div>
    </div>
{% endif %}

{{ makeFlashMessage() }}
