{#
/**
 * Multiple Choice question - DSFR Theme
 *
 * @var $sRows      : the rows, generated with the views rows/answer_row*.php
 * @var $name
 * @var $anscount
 * @var $othertext
 * @var $aRows      : array of rows
 * @var $coreClass  : core classes
 * @var $iNbCols    : number of columns
 */
 #}
<!-- Multiple Choice DSFR -->

{# Determine column count - default to 1 if not set #}
{% set columnCount = iNbCols|default(1) %}

<!-- answer -->
<input type="hidden" name="MULTI{{name}}" value="{{anscount}}" />
<fieldset class="fr-fieldset {{coreClass}}" aria-labelledby="ls-question-text-{{name}}"{% if columnCount > 1 %} data-column-count={{columnCount}}{% endif %}>
    <legend class="fr-fieldset__legend fr-sr-only">{{ gT('Select one or more answers') }}</legend>
    <div class="fr-fieldset__content{% if columnCount > 1 %} ls-columns ls-columns-{{ columnCount }}{% endif %}">
        {% for aRow in aRows %}
            {% set rowTemplate = aRow.other ? './survey/questions/answer/multiplechoice/rows/answer_row_other.twig' : './survey/questions/answer/multiplechoice/rows/answer_row.twig' %}
            <!-- Row {{loop.index}} -->
            {% include rowTemplate with aRow %}
        {% endfor %}
    </div>
</fieldset>
<!-- end of answer -->
