{#
Footer DSFR officiel conforme
Les liens pointent vers # - à personnaliser selon votre organisme
#}

<footer class="fr-footer" role="contentinfo" id="footer">
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand fr-enlarge-link">
                <a href="/" title="Retour à l'accueil - République Française">
                    <p class="fr-logo">République<br>Française</p>
                </a>
            </div>
            <div class="fr-footer__content">
                <p class="fr-footer__content-desc">
                    {% if aSurveyInfo.options.footer_text %}
                        {{ aSurveyInfo.options.footer_text|raw }}
                    {% else %}
                        {{ aSurveyInfo.name }}
                    {% endif %}
                </p>
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item">
            <a title="info.gouv.fr - nouvelle fenêtre" id="footer__content-link-0" href="https://info.gouv.fr" target="_blank" rel="noopener external" class="fr-footer__content-link">info.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a title="service-public.gouv.fr - nouvelle fenêtre" id="footer__content-link-1" href="https://service-public.gouv.fr" target="_blank" rel="noopener external" class="fr-footer__content-link">service-public.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a title="legifrance.gouv.fr - nouvelle fenêtre" id="footer__content-link-2" href="https://legifrance.gouv.fr" target="_blank" rel="noopener external" class="fr-footer__content-link">legifrance.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a title="data.gouv.fr - nouvelle fenêtre" id="footer__content-link-3" href="https://data.gouv.fr" target="_blank" rel="noopener external" class="fr-footer__content-link">data.gouv.fr</a>
          </li>
        </ul>
            </div>
        </div>
        <div class="fr-footer__bottom">
            <ul class="fr-footer__bottom-list">
                <li class="fr-footer__bottom-item">
                    <button class="fr-footer__bottom-link" data-fr-opened="false" aria-controls="accessibility-modal">
                        Accessibilité : partiellement conforme
                    </button>
                </li>
                <li class="fr-footer__bottom-item">
                    <button class="fr-footer__bottom-link" data-fr-opened="false" aria-controls="legal-modal">
                        Mentions légales
                    </button>
                </li>
                <li class="fr-footer__bottom-item">
                    <button class="fr-footer__bottom-link" data-fr-opened="false" aria-controls="privacy-modal">
                        Données personnelles
                    </button>
                </li>
                <li class="fr-footer__bottom-item">
                    <button class="fr-footer__bottom-link" data-fr-opened="false" aria-controls="cookies-modal">
                        Gestion des cookies
                    </button>
                </li>
            </ul>
            <div class="fr-footer__bottom-copy">
                {% if aSurveyInfo.options.intellectual_property %}
                    {{ aSurveyInfo.options.intellectual_property|raw }}
                {% else %}
                    <p>
                        Sauf mention explicite de propriété intellectuelle détenue par des tiers,
                        les contenus de ce site sont proposés sous
                        <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank" rel="noopener external">licence etalab-2.0</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</footer>

<!-- Modales footer -->
{{ include('./subviews/footer/modals/accessibility.twig') }}
{{ include('./subviews/footer/modals/legal.twig') }}
{{ include('./subviews/footer/modals/privacy.twig') }}
{{ include('./subviews/footer/modals/cookies.twig') }}
