<small class="{{ aSurveyInfo.class.required  }} fr-text--error asterisk fa fa-asterisk fr-float-left small" {{ aSurveyInfo.attr.required  }} >&nbsp;</small>
<span class="{{ aSurveyInfo.class.requiredspan  }} fr-sr-only fr-text--error asterisk" {{ aSurveyInfo.attr.requiredspan  }} > ({{ gT("Mandatory") }})</span>
