{#
/**
 * Array Increase/Same/Decrease - Header cells - DSFR Theme
 * @var $no_answer : Show no answer option
 * @var $basename  : Base name for aria labels
 */
#}

<!-- thead - DSFR -->
<td></td>
<th class="answer-text fr-text--center" id="answer{{ basename }}-I" scope="col">
    {{ gT("Increase") }}
</th>
<th class="answer-text fr-text--center" id="answer{{ basename }}-S" scope="col">
    {{ gT("Same") }}
</th>
<th class="answer-text fr-text--center" id="answer{{ basename }}-D" scope="col">
    {{ gT("Decrease") }}
</th>
{% if no_answer %}
    <th class="answer-text noanswer-text fr-text--center" id="answer{{ basename }}-" scope="col">
        {{ gT("No answer") }}
    </th>
{% endif %}
<!-- end of thead - DSFR -->
