{#
/**
 * Array Dual Scale - Repeat Header - DSFR Theme
 * Renders repeated header for long tables
 *
 * Inherits all variables from parent template (answer.twig)
 */
#}

<!-- repeat_header -->
</tbody>
<thead>
    {% if leftheader or rightheader %}
        <tr class="ls-heading dualscale-header">
            <td>&nbsp;</td>
            <th class="fr-text--bold" colspan="{{ labelans0|length }}">{{ processString(leftheader) }}</th>
            {% if separatorwidth %}<td>&nbsp;</td>{% endif %}
            <th class="fr-text--bold" colspan="{{ labelans1|length }}">{{ processString(rightheader) }}</th>
            {% if shownoanswer %}<td>&nbsp;</td>{% endif %}
            {% if rightexists %}<td>&nbsp;</td>{% endif %}
        </tr>
    {% endif %}

    <tr class="ls-heading dualscale-labels">
        <td>&nbsp;</td>
        {% for code, label in labelans0 %}
            <th class="fr-text--bold answertext" role="columnheader">{{ processString(label) }}</th>
        {% endfor %}
        {% if separatorwidth %}<td>&nbsp;</td>{% endif %}
        {% for code, label in labelans1 %}
            <th class="fr-text--bold answertext" role="columnheader">{{ processString(label) }}</th>
        {% endfor %}
        {% if shownoanswer %}
            <th class="fr-text--bold noanswer-text">{{ gT('No answer') }}</th>
        {% endif %}
        {% if rightexists %}
            <td>&nbsp;</td>
        {% endif %}
    </tr>
</thead>
<tbody>
<!-- end of repeat_header -->
